/*reset*/
html {
    box-sizing: border-box;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, serif;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}


@media (min-width: 1350px) {

/*header*/
nav a {
    text-decoration: none;
    color : black;
}

header {
    display:flex;
    justify-content: space-between;
    height: 100px;
}

nav a:hover {
    text-decoration: overline;
    color :#0065FC;
}


header img {
    margin:25px;
}

nav ul {
    display:flex;
    margin-top: 5px;
    margin-right: 50px;
}

nav ul li{
    margin: 20px;
}
ul {
    list-style-type: none;
}

/*recherche*/
form {
    margin-top: 15px;
    border-radius: 20px;
    height: 50px;
    display: flex;
}

#localisation{
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 55px;
}

#localisation i {
    padding:17px;
    padding-left: 22px;
}

.loupe {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bolder;
    width: 110px;
    font-size: 15px;
}

.loupe i {
    display : none;
}

input[placeholder="Marseille, France"]{
    padding-left: 10px;
    font-weight: bolder;
    color :black;
    border:none;
    width: 225px;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
}

/*filtre*/
#s_filtres{
   width: 70%;
}

#filtres {
    display: flex;
    justify-content: space-between;
}

#filtres i {
    width: 46px;
    height: 46px;
    border-radius: 20px;
    background-color: #DEEBFF;
    color:#0065FC;
    margin-top:-1px;
    margin-left: -2px;
    padding: 14px;
    margin-right:10px;
}

#filtres li {
    font-weight: bolder;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    height: 45px;
    padding-right:15px;
}

#filtres li:hover {
    background-color: #DEEBFF;
}

#s_infos {
    margin-top: 20px;
    margin-bottom: 20px;
}

#s_infos i {
    width: 25px;
    height: 25px;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    color :#0065FC;
    padding-left: 10px;
    padding-top: 3px;
}


/*globale main*/
header, main {
    margin-left: 50px;
    margin-right: 50px;
}


footer, #hebergement, #populaire {
    background-color: #F2F2F2;
}

span {
    font-style: bold;
}

figure {
    background-color: white;
    box-shadow: 1px 1px 1rem rgb(200 200 200);
}

figure, #hebergement, #populaire {
    border-radius: 20px;
}
#etoiles {
    color: #DEEBFF;
}
#e_bleu i {
    color: #0065FC;
}

#heb-pop {
    display: flex;
    justify-content: space-between;
}

/*hebergement*/

#hebergement {
    width: 65%;
    height: auto;
    padding: 30px;
}
#l_heb {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}
#f_heb {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding:5px;
  
}

#f_heb:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}

#i_heb{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

h3{
    margin-top: 20px;
}

/*populaire*/
#populaire {
    width: 30%;
    height: auto;
    padding: 30px;
}

#l_pop {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#f_pop {
    width: 360px;
    height: 130px;
    border-radius: 20px;
    padding:5px;
}

#f_pop:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}


#i_pop{
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

figcaption{
    font-weight: bolder;
}

/*activite*/
#activite {
    margin-top: 50px;
    margin-bottom: 50px;
}
#act {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 500px;
}

#i_act {
    border-radius: 20px 20px 0px 0px;
}
#act1{
    width: 22%;
}
#act1 figure{
    height: 100%;
}
#act1 #i_act{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

#act2 {
    width: 22%;
    height: 100%;
}

#act2 figure {
    height: 46%;
}

#act2 #i_act{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#a2-2 {
    margin-top: 12%;
}


#act3 {
    width: 22%;
}

#act3 figure {
    height: 100%;
}

#act3 #i_act{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

#act4 {
    width: 22%;
    height: 100%;
}

#act4 figure {
    height: 46%;
}

#act4 #i_act{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#a4-2 {
    margin-top: 12%;
}
#act figcaption {
    margin: 10px;
    margin-left: 5%;
}

/*footer*/
footer{ 
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

footer h3 {
    margin-bottom: 10%;
}

}

/*==============   
      MOBILE
================*/

@media (min-width: 320px) and (max-width: 780px) {
/*header*/
/*centrer et redimentionner logo bookie ici*/
nav {
    display:flex;
    justify-content: space-around;
    height: 100px;
}

nav a:active {
    text-decoration: underline;
    color :#0065FC;
}

header img {
    margin:25px;
}

nav ul {
    display:flex;
    margin-top: 5px;
    margin-right: 50px;
}

nav ul li{
    margin: 20px;
}
ul {
    list-style-type: none;
}

/*recherche*/
form {
    margin-top: 15px;
    border-radius: 20px;
    height: 50px;
    display: flex;
}

#localisation{
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 55px;
}

#localisation i {
    padding:17px;
    padding-left: 22px;
}

.loupe {
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    color: #0065FC;
    font-weight: bolder;
    width: 55px;
    font-size: 15px;
    overflow : hidden;
    margin-left: -7px;
}
.loupe i {
    color:white;
    margin-top: 30%;
}

input[placeholder="Marseille, France"]{
    padding-left: 10px;
    font-weight: bolder;
    color :black;
    border:none;
    width: 225px;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
}

/*filtre*/
#filtres {
    display: flex;
    justify-content: space-between;
}

#filtres i {
    width: 46px;
    height: 46px;
    border-radius: 20px;
    background-color: #DEEBFF;
    color:#0065FC;
    margin-top:-1px;
    margin-left: -2px;
    padding: 14px;
    margin-right:10px;
}

#filtres li {
    font-weight: bolder;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    height: 45px;
    padding-right:15px;
}

#filtres li:hover {
    background-color: #DEEBFF;
}

#s_infos {
    margin-top: 20px;
    margin-bottom: 20px;
}

#s_infos i {
    width: 25px;
    height: 25px;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    color :#0065FC;
    padding-left: 10px;
    padding-top: 3px;
}


/*globale main*/
header, main {
    margin-left: 15px;
    margin-right: 15px;
}


footer, #hebergement, #populaire {
    background-color: #F2F2F2;
}

span {
    font-style: bold;
}

figure {
    background-color: white;
    box-shadow: 1px 1px 1rem rgb(200 200 200);
}

figure, #hebergement, #populaire {
    border-radius: 20px;
}
#etoiles {
    color: #DEEBFF;
}
#e_bleu i {
    color: #0065FC;
}

#heb-pop {
    display: flex;
    justify-content: space-between;
}

/*hebergement*/

#hebergement {
    width: 65%;
    height: auto;
    padding: 30px;
}
#l_heb {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}
#f_heb {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding:5px;
  
}

#f_heb:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}

#i_heb{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

h3{
    margin-top: 20px;
}

/*populaire*/
#populaire {
    width: 30%;
    height: auto;
    padding: 30px;
}

#l_pop {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#f_pop {
    width: 360px;
    height: 130px;
    border-radius: 20px;
    padding:5px;
}

#f_pop:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}


#i_pop{
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

figcaption{
    font-weight: bolder;
}

/*activite*/
#activite {
    margin-top: 50px;
    margin-bottom: 50px;
}
#act {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 500px;
}

#i_act {
    border-radius: 20px 20px 0px 0px;
}
#act1{
    width: 22%;
}
#act1 figure{
    height: 100%;
}
#act1 #i_act{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

#act2 {
    width: 22%;
    height: 100%;
}

#act2 figure {
    height: 46%;
}

#act2 #i_act{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#a2-2 {
    margin-top: 12%;
}


#act3 {
    width: 22%;
}

#act3 figure {
    height: 100%;
}

#act3 #i_act{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

#act4 {
    width: 22%;
    height: 100%;
}

#act4 figure {
    height: 46%;
}

#act4 #i_act{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#a4-2 {
    margin-top: 12%;
}
#act figcaption {
    margin: 10px;
    margin-left: 5%;
}

/*footer*/
footer{ 
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

footer h3 {
    margin-bottom: 10%;
}


}
  /*===========
    TABLETTE
  ===========*/
  
  @media (min-width: 781px) and (max-width: 1350px) {
    .container {
      margin-left: 5%;
      margin-right: 5%;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    .logo {
      width: 10%;
      height: auto;
    }
  
    header div {
      display: flex;
      flex-direction: row-reverse;
    }
    .nav a {
      margin-right: 4rem;
    }
  
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }
    .recherche {
      width: 50%;
      margin: 0;
      margin-bottom: 2rem;
    }
    .recherche input {
      width: 62%;
    }
    .loupe i {
      display: none;
    }
    .loupe {
      width: 35%;
      border-radius: 0 15px 15px 0;
      font-weight: bold;
      font-size: 1rem;
      color: white;
    }
  
    main h5 {
      display: block;
      font-size: 1rem;
      margin-top: 0.9rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
    }
  
    #logo_info {
      float: left;
      margin-right: 1rem;
    }
  
    .info {
      margin-bottom: 2rem;
    }
  
    .hebergements {
      display: flex;
      flex-direction: column;
    }
    .populaire {
      width: 100%;
      margin-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 27px;
    }
  
    .article_herbergement_pop {
      width: 70%;
    }
  
    .article_herbergement_pop figcaption h4 {
      font-size: 1rem;
      margin-left: 20%;
    }
    .article_herbergement_pop figcaption p {
      font-size: 1.2rem;
      margin-left: 20%;
    }
  
    .article_herbergement_pop figcaption .etoile {
      margin-left: 20%;
    }
  
    .titre_pop {
      align-items: center;
      margin-left: 15%;
      margin-right: 10%;
    }
    .hebergement {
      padding-top: 1rem;
      width: 100%;
      background-color: #f2f2f2;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      border-radius: 27px;
    }
  
    .hebergement h3 {
      margin-left: 3%;
      margin-bottom: 1rem;
    }
  
    .grille {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
    .article_herbergement figcaption h4 {
      margin-left: 4%;
      margin-top: 0.4rem;
      font-size: 0.8rem;
    }
  
    .article_herbergement figcaption p {
      margin-top: 0.5rem;
      margin-left: 4%;
      font-size: 0.7rem;
    }
  
    .hebergement p {
      margin-top: 1rem;
      margin-left: 1rem;
      font-weight: bold;
    }
  
    h3 {
      margin-left: 2%;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  
    .activité {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  
    #grand1,
    #grand2 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(12, 2rem) min-content;
      padding: 0;
    }
    #grand1 div,
    #grand2 div {
      grid-row: 1/11;
    }
  
    #grand1 figcaption,
    #grand2 figcaption {
      grid-row: 11/13;
    }
  
    footer {
      background-color: #f2f2f2;
      padding: 3rem;
      margin-top: 4rem;
      display: flex;
      justify-content: space-around;
    }
  
    footer h5 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  
    footer ul li {
      margin-bottom: 0.5rem;
    }
  }