/*=====================================   
                RESET
======================================*/
html {
    box-sizing: border-box;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, serif;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


/*=====================================   
                COMMUN
======================================*/
/*header*/
nav ul li{
    margin: 20px;
}

/*recherche*/
form {
    margin-top: 15px;
    border-radius: 20px;
    height: 50px;
    display: flex;
}

.localisation{
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 55px;
}

.localisation i {
    padding:17px;
    padding-left: 22px;
}

input[placeholder="Marseille, France"]{
    padding-left: 10px;
    font-weight: bolder;
    color :black;
    border:none;
    width: 225px;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
}

/*filtres*/
.filtres i {
    width: 46px;
    height: 46px;
    border-radius: 20px;
    background-color: #DEEBFF;
    color:#0065FC;
    margin-top:-1px;
    margin-left: -2px;
    padding: 14px;
    margin-right:10px;
}

.filtres li {
    font-weight: bolder;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    height: 45px;
    padding-right:15px;
    margin-bottom: 20px;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

.s_infos {
    margin-top: 20px;
    margin-bottom: 20px;
}


.s_infos i {
    width: 25px;
    height: 25px;
    border: solid 0.5px;
    border-color: lightgray;
    border-radius: 20px;
    color :#0065FC;
    padding-left: 10px;
    padding-top: 3px;
}

/*gobale main*/
p span {
    font-weight: bold;
}

.etoiles {
    color: #DEEBFF;
}
.e_bleu i {
    color: #0065FC;
}

/*hebergement*/
.l_heb {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.f_heb {
    height: 200px;
    border-radius: 20px;
    padding:5px;
    margin-bottom: 30px;
}

.f_heb:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}

.i_heb{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/*populaire*/
.titre-pop{
    display : flex ;
    justify-content: space-between;
}

.titre-pop i{
    font-size: 1.4em;
}

.l_pop {
    display : flex ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.f_pop {
    height: 130px;
    border-radius: 20px;
    padding:5px;
    margin-bottom: 30px;
    display:flex;
}

.i_pop_inf {
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
}

.i_pop_inf p {
    margin-top: 10px;
}

.f_pop:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
}

.i_pop{
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

h4{
    font-weight: bolder;
}

/*activite*/
.i_act {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.act h4 {
    margin: 10px;
    margin-left: 15px;
}

/*footer*/
footer h3 {
    margin-bottom: 10%;
}

footer p {
    margin-bottom: 10px;
}


/*=====================================   
               ORDINATEUR
======================================*/
@media (min-width: 1350px) {
/*header*/
header {
    display:flex;
    justify-content: space-between;
    height: 100px;
}

header div img {
    width: 40%;
    height: auto;
}

nav li a {
    padding-top: 1rem;
    border-top: 3px solid white;
} 

nav a:hover {
    border-color: #0065FC;
    color :#0065FC;
}

header img {
    margin:25px;
}

nav ul {
    display:flex;
    margin-top: 5px;
    margin-right: 50px;
}

/*recherche*/
.loupe {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bolder;
    width: 110px;
    font-size: 15px;
}

.loupe i {
    display : none;
}

/*filtre*/
.s_filtres{
    width: 100%;
    margin-top:20px;
    display: flex;
}

.s_filtres h3 {
    padding-top:10px;
}

.filtres {
    width: 100%;
    display: flex;
}

.filtres li {
    margin-left: 5%;
}

/*globale main*/
header, main {
    margin-left: 50px;
    margin-right: 50px;
}

footer, .hebergement, .populaire {
    background-color: #F2F2F2;
}

article {
    background-color: white;
    box-shadow: 1px 1px 1rem rgb(200 200 200);
}

article, .hebergement, .populaire {
    border-radius: 20px;
}

.heb-pop {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size:1.4em;
}

/*hebergement*/
.hebergement {
    width: 65%;
    height: auto;
    padding: 30px;
}

.f_heb {
    width: 250px;
}

/*populaire*/
.populaire {
    width: 32%;
    height: auto;
    padding: 30px;
}

.f_pop {
    width: 360px;
}

/*activite*/
.activite {
    margin-top: 50px;
    margin-bottom: 50px;
}
.act {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 500px;
}

.act_impair{
    width: 22%;
}
.act_impair article {
    height: 100%;
}
.act_impair .i_act{
    width: 100%;
    height: 90%;
}

.act_pair{
    width: 22%;
    height: 100%;
}

.act_pair article {
    height: 46%;
}

.act_pair .i_act{
    width: 100%;
    height: 80%;
}

.a2-2, .a4-2 {
    margin-top: 12%;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
    padding-right: 33%;
}
}

/*=====================================   
                MOBILE
======================================*/
@media (max-width: 768px) {
/*gobale*/
header, .s_filtres, .s_infos, .recherche {
    margin-left: 20px;
    margin-right: 20px;
}

/*header*/
header div {
    text-align: center;
    margin-left: 7%;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    border-bottom: 3px solid #F2F2F2;
}

nav ul {
    display:flex;
    justify-content: space-between;
}

nav li a {
    padding-bottom:20px;
    border-bottom: 3px solid #F2F2F2;
} 

nav a:active {
    color: #0065FC;
    border-color: #0065FC;
}
nav a:hover {
    color: #0065FC;
    border-color: #0065FC;
}

/*recherche*/
.loupe {
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    color: #0065FC;
    font-weight: bolder;
    width: 55px;
    font-size: 15px;
    overflow : hidden;
    margin-left: -7px;
}
.loupe i {
    color:white;
    margin-top: 30%;
}

/*filtre*/
.s_filtres {
    margin-top: 20px;
}

.filtres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}

.filtres li {
    margin-bottom: 20px;
}

/*globale main*/
header {
    margin-left: 15px;
    margin-right: 15px;
}

footer, .populaire {
    background-color: #F2F2F2;
}

article {
    background-color: white;
    box-shadow: 1px 1px 1rem rgb(200 200 200);
    border-radius: 20px;
}

.heb-pop {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size:1.3em;
}

/*hebergement*/
.hebergement {
    width: 100%;
    height: auto;
    padding: 30px;
}

.f_heb {
    width: 300px;
}

/*populaire*/
.populaire {
    width: 100%;
    height: auto;
    order : -1;
    padding: 30px;
}

.f_pop {
    width: 300px;
}

/*activite*/
.activite {
    margin-top: 10px;
    height: auto;
    padding:30px;
    width: 100%;
}

.act {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    height:auto;
}

.act article{
    width: 300px;
    height:200px;
}

.i_act {
    width: 100%;
    height: 80%;
}

.act_impair, .act_pair{
    margin-bottom: 30px;

}

.a2-2, .a4-2 {
    margin-top: 30px;
}

/*footer*/
footer{ 
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
}

.propos, .heber, .assistance {
    width: 100%;
    margin-top: 20px;
}
}


/*=====================================   
                TABLETTE
======================================*/
  @media (min-width: 769px) and (max-width: 1350px) {
/*header*/
header {
    display:flex;
    justify-content: space-between;
    height: 100px;
}

header div img {
    width: 40%;
    height: auto;
}

nav li a {
    padding-top: 1rem;
    border-top: 3px solid #F2F2F2;
} 

nav a:hover {
    border-color: #0065FC;
    color :#0065FC;
}

header img {
    margin:25px;
}

nav ul {
    display:flex;
    margin-top: 5px;
    margin-right: 50px;
}

/*recherche*/
.loupe {
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    font-weight: bolder;
    width: 55px;
    font-size: 15px;
    overflow : hidden;
    margin-left: -7px;
}

.loupe span {
    color: #0065FC;
}
.loupe i {
    color:white;
    margin-top: 30%;
}

/*filtre*/
.s_filtres {
    margin-top: 20px;
}

.filtres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}


.filtres li {
    margin-bottom: 20px;
}

/*globale main*/
header, .s_filtres, .s_infos, .recherche, .activite {
    margin-left: 20px;
    margin-right: 20px;
}

footer, .populaire {
    background-color: #F2F2F2;
}

article {
    background-color: white;
    box-shadow: 1px 1px 1rem rgb(200 200 200);
    border-radius: 20px;
}

.heb-pop {
    display: flex;
    flex-wrap: wrap;
}
h2 {
    font-size:1.3em;
}

/*hebergement*/
.hebergement {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 30px;
}

.f_heb {
    width: 300px;
}

/*populaire*/
.populaire {
    width: 100%;
    height: auto;
    order : -1;
    padding: 30px;
}

.f_pop {
    width: 300px;
}

/*activite*/
.activite {
    margin-top: 50px;
    margin-bottom: 50px;
}
.act {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 500px;
}

.act_impair{
    width: 22%;
}

.act_impair article {
    height: 100%;
}

.act_impair .i_act{
    width: 100%;
    height: 90%;
}

.act_pair{
    width: 22%;
    height: 100%;
}

.act_pair article {
    height: 46%;
}

.act_pair .i_act{
    width: 100%;
    height: 80%;
}

.a2-2, .a4-2 {
    margin-top: 12%;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
    padding-right: 33%;
}
}